<div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>Hey welcome to my blog page. Here is where I spend my time writting on things that interest me. I never know what I am going to post next so keep visiting often.</p>
    </div>
    
    <div class="sidebar-module">
      <h4>Elsewhere</h4>
      <ol class="list-unstyled social-links">
        <li><a href="https://www.github.com/pdxcardinal78"><%= fa_icon "github" %></a></li>
        <li><a href="https://www.instagram.com/pdxcardinal78"><%= fa_icon "instagram" %></a></li>
        <li><a href="http://www.facebook.com/PDXCardinal78"><%= fa_icon "facebook" %></a></li>
      </ol>
    </div>
</div>