<h1>About Me</h1>

 <hr>

	 <div class= 'row'>
	 	<div class = 'col-md-4'>
	 	
	 	<%= image_tag 'profile.jpg', width: '150', alt: 'Profile Image' %>

	 	</div>

	 	<div class = 'col-md-8' align = 'left'>
			<p>I am just getting started in the world of ruby and programming for that manner. I have always had an interest in programming and computers. Life just led me down a different path. </p>

			<p> My goal is to learn this lanauge and how to build websites like this so I can do some freelance work, and/or, prepare myself for a job in IT as a developer or Software Quality Engineer. </p>
		</div>
	</div>