<div class= "cover-container">
   <div class = "row">
	   	<div class = "col-md-6">
	   		<h3>Office Address</h3>
	   		<p> 300 Beavercreek Dr, Oregon City, OR 97045 </p>
	   		<h3>Phone</h3>
	   		<p>636-358-9771</p>
	   		<h3>Email</h3>
	   		<p><a href="mailto:ryanj.johnson@gmail.com?subject=Site_Contact" "ryanj.johnson@gmail.com">ryanj.johnson@gmail.com</a></p>
		</div>
   			<div class = "col-md-6">
   			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2804.785010395179!2d-122.59612278469392!3d45.332963650212164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549570c4d9b0b1bd%3A0xe4fd664306867a5e!2s300+Beavercreek+Rd%2C+Oregon+City%2C+OR+97045!5e0!3m2!1sen!2sus!4v1494395246918" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
   			</div>
   		
   	</div>
</div>